[submodule "submodules/soa"]
	path = submodules/soa
	url = https://gitlab.cern.ch/LHCbOpt/SOAContainer.git
[submodule "submodules/gsl"]
	path = submodules/gsl
	url = https://github.com/Microsoft/GSL.git
